* {
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #1b1e21;
}

.navbar {
    z-index: 9999;
}

.nav-logo-white {
    width: 5rem;
    height: 100%;
}

.nav-link {
    transition: 0.3s;
    font-size: 18px;
    color: orange;
}

.nav-link:hover {
    font-size: 19px;
    /*border-color: #0b2e13;*/

}

.carousel {
    height: 30rem;
}

.slide-1 {
    display: flex;

}

.slide-2 {
    display: flex;
}

.test-slider-albums-image {
    /*margin: 2.5rem;*/
    height: 30rem;
}

.text {
    /*position: absolute;*/
    /*top: 170px;*/
    /*bottom: 0;*/
    /*left: 50%;*/
    /*right: 0;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 3rem;
    color: white;
    margin-top: 9rem;
}

.fab {
    color: white;
    margin: 1rem;
}

.singles {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.single-1, .single-2, .single-3, .single-4 {
    align-items: center;
    text-align: center;
    /*display: inline-block;*/
}

.slide-1-content {
    width: 100%;
}

.black-cherep, .violet-cherep, .red-cherep, .yellow-cherep {
    box-sizing: border-box;
    border-radius: 1rem;
    width: 12rem;
    height: 12rem;
}

.singles-about {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 2rem;
}

.singles-about-2 {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.singles-photo-margin {
    margin-bottom: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    height: 5rem;
    background-color: #1b1e21;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
}

.TEST {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*///////////////////////////!***ABOUT***!////////////////////////*/

/*///////////////////////////!***CONTACTS***!////////////////////////*/

.contacts {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.contacts-content {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 21px;
    /*margin: 3rem;*/
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.aa {
    color: white;
    list-style: none;
    text-decoration: none;
    transition: 0.5s;
}

.avaible-on-soundcloud, .avaible-on-apple-music, .youtube-img, .spotify-img {
    transform: scale(1.2);
    width: 250px;
    height: 80px;
}

.avaible-on-soundcloud:hover, .avaible-on-apple-music:hover, .youtube-img:hover, .spotify-img:hover, .twitter-img:hover {
    transform: scale(1.5);
    transition: 0.4s;
}

.twitter-img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 65rem) {
    .test-slider-albums {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100px;
    }

    .test-slider-albums-image {
        height: 17rem;
        text-align: center;
        width: 100%;
    }

    .singles {
        display: flex;
        justify-content: center;

        flex-direction: column;
        margin: 2rem;
    }

    .slide-1, .slide-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .carousel {
        height: 35rem;
    }

    .slide-1-content, .slide-2-content {
        display: flex;
        flex-direction: column;
    }

    .text {
        margin-top: 1rem;
    }

    .avaible-on-soundcloud, .avaible-on-apple-music, .youtube-img, .spotify-img {
        transform: scale(1.1);
        width: 200px;
        height: 70px;
    }
}

@media screen and (max-width: 1024px) {
    .test-slider-albums-image {
        height: 30rem;
    }

    .carousel {
        height: 48rem;
    }

    .singles {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 780px) {
    .test-slider-albums-image {
        height: 30rem;
    }

    .carousel {
        height: 48rem;
    }
}
@media screen and (max-width: 468px) {
    .test-slider-albums-image {
        height: 19rem;
    }

    .carousel {
        height: 38rem;
    }
}

