* {
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #0f0f0f;
}

.navbar {
    z-index: 9999;
}

.current-page-color {
    color: #d69d54;
!important;
}

.nav-logo-white {
    width: 5rem;
    height: 100%;
}

.nav-link {
    transition: 0.3s;
    font-size: 18px;
    color: orange;
}

.nav-link:hover {
    color: #d69d54 !important;
}

.asd {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.nav-logo-white {
    margin-right: 3rem;
}

.margin-nav-top-list {
    margin-right: 3rem;
}

.carousel {
    height: 32.5rem;
}

.slide-1 {
    display: flex;

}

.slide-2 {
    display: flex;
}

.test-slider-albums-image {
    height: 30rem;
}

.text {
    /*position: absolute;*/
    /*top: 170px;*/
    /*bottom: 0;*/
    /*left: 50%;*/
    /*right: 0;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 3rem;
    color: white;
    margin-top: 9rem;
}

.links-music {
    text-align: left;
    margin-left: 1rem;
    /*margin-left: 2rem;*/
}

.fab {
    color: white;
    margin: 1rem;
    font-size: 2rem;
}

.fab-color-soundcloud-orange {
    font-size: 2rem;
    transition: 0.3s;
}

.fab-color-soundcloud-orange:hover {
    color: orange;
}

.fab-color-green-spotify {
    font-size: 2rem;
    transition: 0.3s;
}

.fab-color-green-spotify:hover {
    color: green;
}

.fab-color-white {
    font-size: 2rem;
}

.fab-color-bandcamp {
    font-size: 2rem;
    transition: 0.3s;
}

.fab-color-bandcamp:hover {
    color: #639aa9;
}

.play-button-singles {
    transition: 0.4s;
}

.play-button-singles:hover {
    color: #d39e00;
    font-size: 32px;
}

.singles {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.single-1, .single-2, .single-3, .single-4 {
    align-items: center;
    text-align: center;
}

.deezer-logotype {
    margin: 0 1.8rem 0 1.6rem;

}

.soundcloud-logo, .apple-logotype, .bandcamp-logotype {
    height: 50px;
    margin-left: 1rem;
    transition: .4s;
}

.spotify-logotype, .music-logotype, .bandcamp-logotype, .deezer-logo {
    height: 50px;
    transition: .4s;
}

.deezer-logo {
    width: 48px;
    margin-right: 1.5rem;
}

.apple-logotype {
    height: 45px;
    margin-bottom: 8px;
}

.yandex-logotype {
    width: 38px;
    height: 38px;
    transition: .4s;
}

.music-logotype, .spotify-logotype, .deezer-logo {
    margin-left: 1.4rem;
}

.soundcloud-logo:hover, .spotify-logotype:hover, .apple-logotype:hover, .bandcamp-logotype:hover, .deezer-logo:hover, .yandex-logotype:hover {
    transform: scale(1.2);
}

.slide-1-content {
    width: 100%;
}

.black-cherep, .violet-cherep, .red-cherep, .yellow-cherep {
    box-sizing: border-box;
    border-radius: 1rem;
    width: 12rem;
    height: 12rem;
}

.singles-about {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 2rem;
}

.singles-about-2 {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.singles-photo-margin {
    margin-bottom: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    height: 5rem;
    background-color: #0f0f0f;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    color: white;
}

.TEST {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*///////////////////////////!***ABOUT***!////////////////////////*/

.about-artist {
    color: white;
}

.photo-yarik {
    display: flex;
    justify-content: space-between;
    /*width: 300px;*/
    height: 380px;
}

.fas {
    /*margin-top: 1rem;*/
    color: white;
    font-size: 1.5rem;
}

.about-content {
    display: flex;
}

.info-about-cl-text {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 3rem;
}

/*///////////////////////////!***ABOUT***!////////////////////////*/

/*///////////////////////////!***CONTACTS***!////////////////////////*/

.contacts {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.contacts-content {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 21px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contacts-content {
    display: flex;
    justify-content: start;
}

.youtube-img {
    display: flex;
    /*justify-content: start;*/
    margin-left: 2rem;
    transform: scale(1.2);
    /*width: 100px;*/
    height: 65px;
    transition: 0.4s;
}

.fb-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    margin-left: 0.8rem;
    align-items: center;
    text-align: center;
    transition: .4s;
}

.avaible-on-soundcloud:hover, .avaible-on-apple-music:hover, .youtube-img:hover, .spotify-img:hover, .twitter-img:hover, .fb-img:hover {
    transform: scale(1.5);
}

.twitter-img {
    margin-left: 2.5rem;
    transition: 0.4s;
    text-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.contact-information {
    display: flex;
    justify-content: center;
}

.information {
    text-align: center;
    margin-top: -16rem;
    margin-bottom: 3rem;
    font-size: 22px;
    font-weight: 400;
    color: white;
    display: flex;
}

.big-logo-contacts {
    position: relative;
    top: -27rem;
    left: 30rem;
    width: 500px;
    filter: blur(0.7rem);
    transition: 0.5s;
}

.big-logo-contacts:hover {
    filter: blur(0px);
}

.big-logo-contacts-for-mobile {
    display: none;
}

.contacts-content {
    display: flex;
    justify-content: start;
}

/*///////////////////////////!***CONTACTS***!////////////////////////*/

@media screen and (max-width: 65rem) {
    .test-slider-albums {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100px;
    }

    .test-slider-albums-image {
        height: 17rem;
        text-align: center;
        width: 100%;
    }

    .text {
        text-align: center;
    }

    .singles {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 2rem;
    }

    .slide-1, .slide-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .carousel {
        height: 35rem;
    }

    .slide-1-content, .slide-2-content {
        display: flex;
        flex-direction: column;
    }

    .text {
        margin-top: 1rem;
        font-weight: 400;
    }

    .youtube-img {
        transform: scale(1.1);
        width: 200px;
        height: 70px;
    }

    .contacts-content {
        display: flex;
        justify-content: center;
    }

    .big-logo-contacts {
        display: flex;
        justify-content: center;
    }

    .information {
        margin-top: 2rem;
    }

    .big-logo-contacts {
        display: none;
    }

    .big-logo-contacts-for-mobile {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 290px;
        height: 200px;
    }

    .youtube-img {
        display: flex;
        /*justify-content: start;*/
        margin-left: 2rem;
        transform: scale(1.2);
        width: 80px;
        height: 65px;
        transition: 0.4s;
    }

    .fb-img {
        margin-left: 2rem;
    }

    .fas {
        margin-top: 1.5rem;
    }

}

@media screen and (max-width: 1024px) {
    .test-slider-albums-image {
        height: 30rem;
    }

    .carousel {
        height: 50rem;
    }

    .singles {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 780px) {
    .test-slider-albums-image {
        height: 30rem;
    }

    .carousel {
        height: 48rem;
    }
}

@media screen and (max-width: 778px) {
    .test-slider-albums-image {
        height: 27rem;
    }

    .carousel {
        height: 48rem;
    }
}

@media screen and (max-width: 468px) {
    .test-slider-albums-image {
        height: 19rem;
    }

    .carousel {
        height: 39rem;
    }
}

@media screen and (max-width: 415px) {
    .test-slider-albums-image {
        height: 15.5rem;
    }

    .carousel {
        height: 35rem;
    }
}

@media screen and (max-width: 360px) {
    .test-slider-albums-image {
        height: 14rem;
    }

    .carousel {
        height: 32rem;
    }

    .photo-yarik {
        display: flex;
        justify-content: space-between;
        width: 210px;
        height: 270px;
    }
}

@media screen and (max-width: 340px) {
    .test-slider-albums-image {
        height: 13.5rem;
    }

    .carousel {
        height: 32rem;
    }
}


